#{extends 'main.html' /}
#{set title:'Get Zoho Contacts' /}

<div class="col-md-12" style="margin-bottom: 5em;">
	<div class="row">
		<div class="col-md-8">
			<h3>Retrieve Zoho Contacts by Tag</h3>
		</div>
		<div class="col-md-4">
			#{form @Application.show(), class:"form-inline my-2 my-lg-0"}

				#{ifErrors}
					<p class="error">
						${errors[0]}
					</p>
				#{/ifErrors}
			
					<div class="row">
						<input class="form-control mr-sm-2" type="search" id="tag" name="tag" placeholder="Enter Tag" value="${params.tag}" />
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</div>
			#{/form}
		</div>
	</div>
</div>

<table class="display responsive no-wrap" id="contacts-table" width="100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Mobile</th>
			<th>Address</th>
			<th>Email Opt Out</th>
			<th>Skype ID</th>
			<th>Last Activity Time</th>
			<th>Twitter</th>
		</tr>
	</thead>
	<tbody>
		#{if res}
			#{list items:res.Contacts, as:'contact'}
			<tr>
    			<td>${contact.fl.get(4).FL} ${contact.fl.get(5).FL}</td>
    			<td>${contact.fl.get(9).FL}</td>
    			<td>${contact.fl.get(8).FL}</td>
    			<td>${contact.fl.get(11).FL}</td>
    			<td>${contact.fl.get(12).FL}</td>
    			<td>${contact.fl.get(20).FL}, ${contact.fl.get(21).FL}, ${contact.fl.get(22).FL} ${contact.fl.get(23).FL}, ${contact.fl.get(24).FL}</td>
    			<td>${contact.fl.get(25).FL}</td>
    			<td>${contact.fl.get(26).FL}</td>
    			<td>${contact.fl.get(27).FL}</td>
    			<td>${contact.fl.get(28).FL}</td>
    		</tr>
    		#{/list}
		#{/if}
	</tbody>
</table>


